= simple_form_for @listing, :html => { :class => 'admin-form' } do |f|
  = f.input :title
  %label Description
  = f.text_area :description
  = f.input :price
  %label Image
  = f.file_field :image
  %label Status
  = f.select :status, ['Available', 'Pending', 'Sold']
  %label Category
  = f.select :category_id, @categories.map{|c| [c.name, c.id]}
  %button.maps-btn.save Save
  %a.maps-btn.cancel{:href => @listing.new_record? ? '/admin' : listing_path(@listing)} Cancel