= simple_form_for @listing, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = error_span(@listing[:title])
  = f.input :description
  = error_span(@listing[:description])
  = f.input :price
  = error_span(@listing[:price])
  = f.file_field :image
  = error_span(@listing[:image])
  = f.input :status
  = error_span(@listing[:status])
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), listings_path, :class => 'btn btn-default'