.admin-wrap
  .admin-header
    = "#{@listing.title}"
    - if user_signed_in?
      %a.maps-btn{:href => edit_listing_path(@listing)} Edit
  .admin-body
    .admin-show
      %label Title
      %p= @listing.title

      %label Description
      %p= @listing.description

      %label Price
      %p= number_to_currency(@listing.price)

      %label Status
      %p= @listing.status

      %label Image
      .listing-image{:style => "background-image: url(#{@listing.image})"}

      %label Category
      %p= @listing.category.blank? ? '' : @listing.category.name